@import "tailwindcss";

@font-face {
    font-family: "Inter";
    src: url("../assets/fonts/Inter-Variable.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto Mono";
    src: url("../assets/fonts/RobotoMono-Variable.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@theme {
    /* === Fonts === */
    --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
    --font-mono: "Roboto Mono", ui-monospace, monospace;



    /* === Primary === */
    --color-primary-900: #613404;
    --color-primary-800: #924D05;
    --color-primary-700: #C26707;
    --color-primary-600: #F38109;
    --color-primary-500: #F59A3A;
    --color-primary-400: #F8B36B;
    --color-primary-300: #FACD9D;
    --color-primary-200: #FDE6CE;
    --color-primary-100: #FEF2E6;


}

body {
    font-family: "Inter", ui-sans-serif, system-ui, sans-serif;
}

